* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  scroll-behavior: smooth;
}
.App {
  padding-top: 5rem;
  background: rgb(61, 61, 61);
  height: 350px;
}

.Content {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0;
  row-gap: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

@media (max-width: 1000px) {
  .Content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .Content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .Content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.paginationBttns {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-bottom: 3rem;
}

.paginationBttns a {
  padding: 5px;
  margin: 5px;
  color: #1b1b1b;
}

.paginationActive a {
  border-radius: 10%;
  border: 1.5px solid #1b1b1b;
  font-weight: 500;
  transform: scale(1.1);
  font-size: 18px;
}
